---
# build_and_push.yaml
name: CI

on: [ push ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: checkout external repo
        uses: actions/checkout@v2
        with:
          repository: alastair-h/example-output-repository
          path: './'
      - name: checkout external repo 2EB
        uses: actions/checkout@v2
        with:
          repository: alastair-h/example-output-repository
          path: './output'
      - run: |
            ls
            ls output
            ls ./output/e2-external-output-repository
      - run: |
          newsemver=$(awk -F. -v OFS=. '{$NF += 1 ; print}' ./output/e2-external-output-repository/version.txt)
          echo $newsemver > version.txt
          cat version.txt
